.text-center{
    text-align: center;
}
.container{
    background-color: rgba(222, 184, 135, 0.697);
    text-align: center;
    height: 240px;
    width: 220px;
    margin: auto;
    border: 2px solid black;
    border-radius: 3px;
}
.input{
    width: 190px;
    height: 30px;
    margin: 10px 10px 0px 10px;
    border-radius: 5px;
    cursor: calc();
    border: 2px solid black;
}

.button{
    width: 40px;
    height: 30px;
    margin: 4px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
}

